
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 

        <div>
            Burası Layout
        </div>

        
        @*@if (true)//@ eklersek burada C# komutları çalıştırabiliriz
        {

        }*@

        @RenderBody()
    </div>
</body>
</html>
